<nav class="navbar navbar-expand-lg bg-white shadow-sm  fixed-top" >
  <div class="container-fluid px-3">
    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center ps-2" [routerLink]="'/'" (click)="closeMenu()">
      <img src="images/Logo_vecindapp_menu.png" alt="VecindApp" class="me-2" style="height: 40px;">
      <span class="fw-semibold text-teal-700">VecindApp</span>
    </a>

    <!-- Hamburguesa -->
    <button class="navbar-toggler" type="button"
            (click)="toggle()"
            [attr.aria-expanded]="menuOpen"
            aria-controls="mainNavbar"
            aria-label="Toggle navigation">
      <!-- Icono visible sin Bootstrap JS -->
      <span class="navbar-toggler-icon d-none"></span>
      <i class="bi bi-list fs-2"></i>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="mainNavbar" [class.show]="menuOpen">

      <!-- Links centrados -->
      <ul class="navbar-nav mx-auto mb-2 mb-md-0 gap-md-4">
        <li class="nav-item">
          <a class="nav-link fw-medium text-teal-700 fs-5"
             [routerLink]="'/'"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{ exact: true }"
             (click)="closeMenu()">
             Inicio
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link fw-medium text-teal-700 fs-5"
             [routerLink]="'/quienes-somos'"
             routerLinkActive="active"
             (click)="closeMenu()">
             Quiénes somos
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link fw-medium text-teal-700 fs-5"
             [routerLink]="'/login'"
             routerLinkActive="active"
             (click)="closeMenu()">
             Certificados
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link fw-medium text-teal-700 fs-5"
             [routerLink]="'/news'"
             routerLinkActive="active"
             (click)="closeMenu()">
             Noticias
          </a>
        </li>
      </ul>

      <!-- Botones derecha -->
      <div class="d-flex gap-2">
        <button class="btn btn-outline-teal-menu fw-medium" (click)="goToLogin()">Iniciar sesión</button>
        <button class="btn btn-teal-menu fw-medium me-2" (click)="goToRegister()">Registrarse</button>
      </div>
    </div>
  </div>
</nav>