<!-- HERO -->
<section class="home-hero" style=" background: url('/images/hero_vecindapp2.png') center/cover no-repeat; ">
  <div class="home-hero__content pt-0 mt-0">
    <div class="row">
      <div class="col-12 col-lg-8">
        <h1 class="home-title mb-2">
          Bienvenido a<br/> VecindApp
        </h1>
        <p class="home-subtitle">
          Conéctate, participa y gestiona tus trámites
        </p>
        <button class="btn btn-cta">
          Realizar inscripción
        </button>
      </div>
    </div>
  </div>
</section>

<!-- FEATURE CARDS -->
<section class="features">
  <div class="container-xxl">
    <div class="row g-3 g-md-4 ">

      <!-- Card 1 -->
      <div class="col-12 col-md-6 col-lg-3" (click)="goToRegister()" *ngIf="!authService.isAuthenticated()">
        <div class="feature-card ">
          <div class="feature-icon pb-1">
            <!-- usuario -->
            <i class="bi bi-person-fill-add"></i>
          </div>
          <div class="feature-title">Inscribirse<br/>en la Junta</div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="feature-card ">
          <div class="feature-icon pb-1 ">
            <!-- POF (documento) -->
            <i class="bi bi-file-earmark-text-fill"></i>
          </div>
          <div class="feature-title">Solicitar Certificado <br/> de Residencia</div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="feature-card ">
          <div class="feature-icon pb-1">
            <!-- calendario -->
            <i class="bi bi-calendar-week"></i>
          </div>
          <div class="feature-title">Agendar Espacios <br/>Comunitarios</div>
        </div>
      </div>

      <!-- Card 4 -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="feature-card " >
          <div class="feature-icon pb-1">
            <!-- megáfono -->
            <i class="bi bi-megaphone-fill"></i>
          </div>
          <div class="feature-title">Noticias<br/>y Avisos</div>
        </div>
      </div>

    </div>
  </div>
</section>
