<!-- Barra superior SOLO en móvil, con el mismo look del sidebar -->
<div class="side-mobilebar d-lg-none">
  <button class="hamburger-btn" (click)="toggleMenu()" aria-label="Abrir menú">
    <i class="bi bi-list"></i>
  </button>

  <div class="brand-mini">
    <img src="images/Logo_vecindapp_menu.png" alt="VecindApp" />
    <span>VecindApp</span>
  </div>
</div>

<!-- Overlay oscuro cuando el menú está abierto (móvil) -->
<div class="side-overlay d-lg-none"
     *ngIf="menuOpen"
     (click)="toggleMenu()"></div>

<!-- Sidebar -->
<aside class="app-side" [class.open]="menuOpen">
  <!-- Marca -->
  <div class="brand">
    <img src="images/Logo_vecindapp_menu.png" alt="VecindApp" />
    <span>VecindApp</span>
  </div>

  <!-- Perfil breve -->
  <div class="me-brief">
    <div class="avatar">
      <img src="{{ auth.getCurrentUser()?.vecino?.foto_perfil }}" alt="avatar" />
    </div>
    <div class="who">
      <div class="hi">Hola,</div>
      <div class="name">{{ auth.getCurrentUser()?.nombres || 'Vecino' }} {{ auth.getCurrentUser()?.apellido_paterno || '' }}</div>
    </div>
  </div>

  <!-- Navegación -->
  <nav>
    <!-- Opciones para todos los usuarios -->
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true} " (click)="onNav()">
      <i class="bi bi-house-door"></i> Inicio
    </a>
    <a routerLink="/profile" routerLinkActive="active"><i class="bi bi-people" (click)="onNav()"></i>Perfil</a>
    <a routerLink="/juntas/1" routerLinkActive="active"><i class="bi bi-building" (click)="onNav()"></i> Perfil de la Junta</a>
    <a routerLink="/certificados/residencia/crear" routerLinkActive="active" (click)="onNav()"><i class="bi bi-file-earmark-plus"></i> Crear Certificado</a>
    <a routerLink="/reservas" routerLinkActive="active" (click)="menuOpen = false" (click)="onNav()"><i class="bi bi-calendar-check"></i> Reservas</a>
    <a [routerLink]="'/news'" routerLinkActive="active" (click)="menuOpen = false" (click)="onNav()"><i class="bi bi-megaphone"></i> Noticias</a>
    
    
    <!-- Opciones solo para admin y directiva -->
    <ng-container *ngIf="!isVecino">
      <a routerLink="/directiva/nuevo" routerLinkActive="active"><i class="bi bi-person-plus" (click)="onNav()"></i> Crear directivo</a>
      <a routerLink="/juntas/nueva" routerLinkActive="active"><i class="bi bi-building-add" (click)="onNav()"></i> Crear Junta</a>
      <a routerLink="/espacios/crear" routerLinkActive="active" (click)="menuOpen = false" (click)="onNav()"><i class="bi bi-building-add"></i> Crear Espacio</a>
      <a routerLink="/config" routerLinkActive="active"><i class="bi bi-gear" (click)="onNav()"></i> Configuración</a>
      <a routerLink="/reportes" routerLinkActive="active"><i class="bi bi-graph-up"></i> Reportes</a>
      <a routerLink="/tramites" routerLinkActive="active"><i class="bi bi-files"></i> Mis trámites</a>
    </ng-container>
  </nav>

  <button class="btn-logout" (click)="logout()">
    <i class="bi bi-box-arrow-right"></i> Cerrar sesión
  </button>
</aside>
